@import 'config';
@import 'menu';

*{
    box-sizing: border-box;
}
body {
    @include background();
    background: $primary-color;
    color:set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}
p{
    text-align: justify;
    text-justify: inter-word;
}
h1,h2,h3{
    margin: 0;
    font-weight: 300;
    &.lg-heading{
        font-size: 4rem;
        text-align: center;
    }
    &.sm-heading{
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color,2),0.5);
    }
    &.text{
        color: #444;
    }
}
a{
    color: white;
    text-decoration: none;
}
header{
    position: fixed;
    z-index: 2;
    width: 100%;
}
.text-secondary{
    color: $secondary-color;
}
main {
    padding: 4rem;
    min-height: calc(100vh - 65px);
  
    .icons {
      margin-top: 1rem;
  
      a {
        padding: 0.4rem;
  
        &:hover {
          color: $secondary-color;
        @include easeOut
        }
      }
    }}

.home-grid{
    display: grid;
    gap: 30px;
    grid-template-areas: 
    'bioimg bio bio'
    ;
    grid-template-columns: repeat(3,1fr);
    .bio-image{
        grid-area: bioimg;
        margin: auto;
        border-radius: 50%;
        border: $secondary-color 3px solid;
    }
    .bio{
        grid-area: bio;
        font-size: 1.5rem;
    }
}
.about-info{
    display: grid;
    gap: 30px;
    grid-template-areas: 
    'bioimg bio bio''
    job1 job2 job3'
    ;
    grid-template-columns: repeat(3,1fr);
    .bio-image{
        grid-area: bioimg;
        margin: auto;
        border-radius: 50%;
        border: $secondary-color 3px solid;
    }
    .bio{
        grid-area: bio;
        font-size: 1.5rem;
    }
    .job-1{
        grid-area: job1;
    }
    .job-2{
        grid-area: job2;
    }
    .job-3{
        grid-area: job3;
    }
    .job{
        background: lighten($primary-color, 5);
        padding: 0.5rem;
        border-bottom: $secondary-color 5px solid;
    }
}
// work page style
.projects{
    display: grid;
    gap:20px;
    grid-template-columns: repeat(3,1fr);
    img{
        width: 100%;
        border: 3px #fff solid;
        &:hover{
            opacity: 0.5;
            border-color: $secondary-color;
            @include easeOut
        }
    }
}
// contact page
.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    div{
        font-size: 2rem;
        border: 3px white solid;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        @include easeOut;
        &:hover{
            padding: 0.5rem 1.5rem;
            background: $secondary-color;
            color: set-text-color($secondary-color);
            span{
                color:set-text-color($secondary-color)
            }
        }
        
    }
}
// Button style
.btn{
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    &:hover{
        background: $secondary-color;
        color: set-text-color($secondary-color);
    }
}
.btn-dark{
    @extend .btn;
    background: darken($primary-color, 50);
    color: #fff;
}
.btn-light{
    @extend .btn;
    background: lighten($primary-color, 50);
    color: #333;
}
// form design style
.form{
    align-items: center;
    align-content: center;
    background-image: url(../dist/img/project/project1.jpg);
    padding: 20px 50px;
    color:rgb(25, 26, 25);
    font-size: 20px;
    .btn-submit{
        background-color: #450ce4;
        color: white;
        margin-top: 20px;
        padding: 10px 20px;
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        border-radius: 4px;
        &:hover {
            background-color: #45a049;
          }
    }   
}
//gallary page style
.slider{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}
.slider > *{
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    animation:12s infinite;
    overflow: hidden;
}
.slide:nth-child(1){
    left: 0%;
    animation-delay: 1s;
    background-image: url(../dist/img/background.jpg);
    background-size: cover;
    background-position: center;
}
.slide:nth-child(2){
    left: 0%;
    animation-delay: 3s;
    background-image: url(../dist/img/background.jpg);
    background-size: cover;
    background-position: center;
}
.slide:nth-child(3){
    left: 0%;
    animation-delay: 5s;
    background-image: url(../dist/img/background.jpg);
    background-size: cover;
    background-position: center;
}
.slide:nth-child(4){
    left: 0%;
    animation-delay: 8s;
    background-image: url(../dist/img/background.jpg);
    background-size: cover;
    background-position: center;
}
.slide p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 70px;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 40px;
}
// pagination
.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin-left: 40%;
}

.pagination li {
    margin: 0 5px;
    cursor: pointer;
}

.pagination li a {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #e4830c;
    color: #0e0f0f;
    border-radius: 5px;
}

.pagination li.active a {
    background-color: #007BFF;
    color: #fff;
}
#main-content {
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
  
}
.gallery-img {
    max-width: 100%;
    max-height: 70%;
    display: block;
    border: 2px solid #4608f0;
    border-radius: 5px;
    margin-bottom: 10px;
    &:hover{
        opacity: 0.5;
        border-color: $secondary-color;
        @include easeOut
    }
}
//login page style

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../dist/img/project/project1.jpg);
    margin-top: 30px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
// personal page style
.slider-container {
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
    flex-direction: column; /* Added to stack children vertically */
    align-items: center; /* Added to center align children horizontally */
}
.slider {
    display: flex;
    transition: transform 0.5s ease;
    overflow: hidden; /* Ensure images don't overflow horizontally */
}

.slider img {
    max-width: 80%;
    max-height: 70%;
    border: 2px solid #4608f0;
    border-radius: 5px;
    margin-bottom: 20px;
    &:hover{
        opacity: 0.5;
        border-color: $secondary-color;
        @include easeOut
    }
}

.buttons {
    left: 0;
    right: 0; /* Center buttons horizontally */
    margin-top: 500px; /* Added space between images and buttons */
}
.prev, .next {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

//main footer
#main-footer{
    text-align: center;
    align-items: center;
    padding: 1rem;
    color: set-text-color($primary-color);
    background: darken($primary-color,10);
    height: 65px;
    .icons {  
        a {
          padding: 2rem;
    
          &:hover {
            color: $secondary-color;
          @include easeOut
          }
        }
      }
}
